#     CONNECTING TO BLOB STORAGE - MACHINE LEARNING MODELS

In [23]:
#INITIALIZE THE WORKSPACE

import azureml.core
from azureml.core import Workspace, Datastore, Dataset
import pandas as pd

ws = Workspace.from_config()

In [24]:
#CREATE A DATA STORE AND REGISTER THE BLOB STORAGE TO THE DATASTORE

blob_datastore_name='first' # Name of the datastore to workspace
container_name=os.getenv("BLOB_CONTAINER", "firstcontainer") # Name of Azure blob container
account_name=os.getenv("BLOB_ACCOUNTNAME", "firststorages") # Storage account name
account_key=os.getenv("BLOB_ACCOUNT_KEY", "blobaccountkey") # Storage account access key

blob_datastore = Datastore.register_azure_blob_container(workspace=ws, 
                                                         datastore_name=blob_datastore_name, 
                                                         container_name=container_name, 
                                                         account_name=account_name,
                                                         account_key=account_key)

Registering datastore failed with a 400 error code and error message 'Another datastore with the same name already exists but with different connection information. You can only update the credential information of a datastore. You can either use a different datastore name or delete the existing one and try again.'

ErrorResponseException: (DatastoreNameInUse) Another datastore with the same name already exists but with different connection information. You can only update the credential information of a datastore. You can either use a different datastore name or delete the existing one and try again.

https://storagename.blob.core.windows.net/blobname/Sales.csv

In [25]:
#GET THE DATA STORE WORKSPACE NAME
from azureml.core import Datastore

datastore = Datastore.get(ws, datastore_name="first")

In [26]:
#RETREIVE THE DATA FROM THE DATA STORE AND CONVERT IT TO TABULAR DATA
from azureml.core import Dataset

dataset = Dataset.Tabular.from_delimited_files(
  path=(datastore, "Order Details.csv"),
  separator=","
)

In [27]:
#CONVERT THE DATASET TO PANDAS DATAFRAME
from azureml.core import Dataset

order_df = dataset.to_pandas_dataframe()
order_df

     Order ID  Amount  Profit  Quantity     Category      Sub-Category
0     B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1     B-25601    66.0   -12.0         5     Clothing             Stole
2     B-25601     8.0    -2.0         3     Clothing       Hankerchief
3     B-25601    80.0   -56.0         4  Electronics  Electronic Games
4     B-25602   168.0  -111.0         2  Electronics            Phones
...       ...     ...     ...       ...          ...               ...
1495  B-26099   835.0   267.0         5  Electronics            Phones
1496  B-26099  2366.0   552.0         5     Clothing          Trousers
1497  B-26100   828.0   230.0         2    Furniture            Chairs
1498  B-26100    34.0    10.0         2     Clothing           T-shirt
1499  B-26100    72.0    16.0         2     Clothing             Shirt

[1500 rows x 6 columns]

# CLEAN AND PREPARE THE DATA SET

In [28]:
#CHECK THE TOTAL NUMBER OF ROWS AND COLUMNS

order_df.shape

(1500, 6)

In [29]:
#CHECK FOR COLUMN WITH NULL VALUES
order_df.isnull().values.any()

False

In [30]:
#check the describe of the dataset 
order_df.describe()

            Amount       Profit     Quantity
count  1500.000000  1500.000000  1500.000000
mean    287.668000    15.970000     3.743333
std     461.050488   169.140565     2.184942
min       4.000000 -1981.000000     1.000000
25%      45.000000    -9.250000     2.000000
50%     118.000000     9.000000     3.000000
75%     322.000000    38.000000     5.000000
max    5729.000000  1698.000000    14.000000

In [31]:
#the column order id is not necessary, i will drop this
order_df = order_df.drop('Order ID', axis=1)
order_df

      Amount  Profit  Quantity     Category      Sub-Category
0     1275.0 -1148.0         7    Furniture         Bookcases
1       66.0   -12.0         5     Clothing             Stole
2        8.0    -2.0         3     Clothing       Hankerchief
3       80.0   -56.0         4  Electronics  Electronic Games
4      168.0  -111.0         2  Electronics            Phones
...      ...     ...       ...          ...               ...
1495   835.0   267.0         5  Electronics            Phones
1496  2366.0   552.0         5     Clothing          Trousers
1497   828.0   230.0         2    Furniture            Chairs
1498    34.0    10.0         2     Clothing           T-shirt
1499    72.0    16.0         2     Clothing             Shirt

[1500 rows x 5 columns]

In [32]:
#the amount and profit column has high value between 0 and 5729 and 1698. use the floor funtion to minimize 

import math
# for index, row in order_df.iterrows():
#     order_df.loc[index, 'Amount'] = math.floor(row['Amount'] / 100)
# order_df

In [33]:
# for index, row in order_df.iterrows():
#     order_df.loc[index, 'Profit'] = math.floor(row['Profit'] / 100)
# order_df.head()

In [34]:
#convert the categorical column to variables known as dummy by turning all the rows to column
order_df = pd.get_dummies(order_df, columns=['Category', 'Sub-Category'])
order_df.head()

,Amount,Profit,Quantity,Category_Clothing,Category_Electronics,Category_Furniture,Sub-Category_Accessories,Sub-Category_Bookcases,Sub-Category_Chairs,Sub-Category_Electronic Games,...,Sub-Category_Leggings,Sub-Category_Phones,Sub-Category_Printers,Sub-Category_Saree,Sub-Category_Shirt,Sub-Category_Skirt,Sub-Category_Stole,Sub-Category_T-shirt,Sub-Category_Tables,Sub-Category_Trousers
0,1275.0,-1148.0,7,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66.0,-12.0,5,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,8.0,-2.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,80.0,-56.0,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,168.0,-111.0,2,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

# SPLIT THE DATA SET INT TRAIN AND TEST USING SCIKIT LEARN

In [35]:
from sklearn.model_selection import train_test_split

#train and test data is 70, 30
x_train,x_test,y_train,y_test = train_test_split(order_df.drop('Profit', axis=1), order_df["Profit"], test_size=0.2, random_state=42)

In [36]:
#check to know the number of column and row used for train
x_train.shape

(1200, 22)

In [37]:
x_test.shape

(300, 22)

In [38]:
y_train.shape

(1200,)

In [39]:
y_test.shape

(300,)

In [40]:
#fit the model
from sklearn.linear_model import LinearRegression
model  = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [41]:
#CALL THE PREDICT MODEL TO PREDICT PROFIT
predicted = model.predict(x_test)
model.score(x_test, y_test)

0.22418614856167585

In [42]:
#print the test result and the predicted values into DF

output_df = pd.DataFrame({})
output_df["Acual Profit"] = y_test
output_df["Predicted Profit"] = predicted

output_df

      Acual Profit  Predicted Profit
1116        1698.0        347.726265
1368          90.0         -2.839167
422           -3.0         20.198518
413          -15.0        -92.307856
451            0.0         14.104835
...            ...               ...
983           25.0        -24.963587
799           14.0         13.721433
1265           0.0         63.535188
1150         -23.0         24.922605
824            0.0         -0.180383

[300 rows x 2 columns]

# EVALUATE THE MODEL USING THE NECESSARY EVALUATION VALUES FOR LINEAR REGRESSION

In [43]:
#calculate R2 value

model.score(x_test, y_test)

0.22418614856167585

In [44]:
#model intercept
model.intercept_

-5.620067283597935

In [45]:
#model coefficient
model.coef_

array([ 1.21550706e-01, -1.21342619e+01,  3.87507304e+01,  1.82252745e+01,
       -5.69760050e+01,  4.90859111e+01,  7.88254838e+01,  4.72810448e+01,
       -3.02204973e+01,  1.07730525e+02,  1.33956859e+01,  2.90601976e+00,
        9.63466885e+00,  9.83487132e+00, -1.04750107e+01, -1.69717959e+01,
        1.85934158e+01,  1.50674943e+01,  1.32254836e+01,  2.05272924e+01,
       -2.90813059e+02, -3.76275343e+01])

In [46]:
import numpy as np
from sklearn import metrics
#Root mean Squared error
np.sqrt(metrics.mean_squared_error(y_test, predicted))

162.94549974093897

In [47]:
#mean absolute error
metrics.mean_absolute_error(y_test, predicted)

78.05011241383065

In [48]:
#Mean squared error
metrics.mean_squared_error(y_test, predicted)

26551.235885824342

CONNECTING TO BLOBS USING URL TO DOWNLOAD FILE IN THE WORKING DIRECTORY

In [49]:
#!curl https://firststorages.blob.core.windows.net/firstcontainer/Sales.csv -o sales.csv

Connecting to blob storage using pandas to read the dataset directly from the url

In [50]:
# import pandas as pd
# df = pd.read_csv("https://firststorages.blob.core.windows.net/firstcontainer/Sales.csv")
# df.head(3)

connecting using sas key

In [64]:
from datetime import datetime, timedelta
from azure.storage.blob import BlobServiceClient, generate_account_sas, ResourceTypes, AccountSasPermissions

sas_token = generate_account_sas(
    account_name="firststorages",
    account_key="6G+i6e/EmAcFb/sbs6On47dyRO9E4m0fUWRVOe6qpv2cv0Ywfnc7dsXrPpziVDCsjeAearBqaFmhiPdIIyB/zg==",
    resource_types=ResourceTypes(service=True),
    permission=AccountSasPermissions(read=True),
    expiry=datetime.utcnow() + timedelta(hours=1)
)

blob_service_client = BlobServiceClient(account_url="https://firststorages.blob.core.windows.net", credential=sas_token)

In [70]:
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
azure_sas_token = sas_token
azure_acc_url = f"https://firststorages.blob.core.windows.net"
container_name = "firstcontainer"

blob_source_service_client = BlobServiceClient(account_url = "https://firststorages.blob.core.windows.net", credential =sas_token)
source_container_client = blob_source_service_client.get_container_client(container_name)

source_container_client.list_blobs().next()

HttpResponseError: This request is not authorized to perform this operation using this resource type.
RequestId:490ed8b1-001e-00ea-33ab-486b11000000
Time:2021-05-14T10:26:24.9933333Z
ErrorCode:AuthorizationResourceTypeMismatch
Error:None

In [58]:
#generated SAS key from azure portal for the dataset, using the generated SAS token Url to assess the dataset

df = pd.read_csv("https://firststorages.blob.core.windows.net/firstcontainer/Order%20Details.csv?sp=r&st=2021-05-14T09:02:35Z&se=2021-05-14T17:02:35Z&sv=2020-02-10&sr=b&sig=uq2sZQayU5bEfFLxbx%2FLi6vabYYOxLTymgXXclsyCPM%3D")
df

     Order ID  Amount  Profit  Quantity     Category      Sub-Category
0     B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1     B-25601    66.0   -12.0         5     Clothing             Stole
2     B-25601     8.0    -2.0         3     Clothing       Hankerchief
3     B-25601    80.0   -56.0         4  Electronics  Electronic Games
4     B-25602   168.0  -111.0         2  Electronics            Phones
...       ...     ...     ...       ...          ...               ...
1495  B-26099   835.0   267.0         5  Electronics            Phones
1496  B-26099  2366.0   552.0         5     Clothing          Trousers
1497  B-26100   828.0   230.0         2    Furniture            Chairs
1498  B-26100    34.0    10.0         2     Clothing           T-shirt
1499  B-26100    72.0    16.0         2     Clothing             Shirt

[1500 rows x 6 columns]